{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur mon site M@ Musique</h1>
  <p class="lead">ici on a de la musique</p>
  <hr class="my-4">
  <p>et aussi de la musique</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">musique</a>
  </p>
</div>
{% endblock %}
